@font-face {
  font-family: "AvantGarde Bk BT";
  src: url("./AvantGardeITCbyBT-Book.woff2") format("woff2"),
    url("./AvantGardeITCbyBT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
