<div
  class="app-main mat-app-background"
  [ngClass]="{ 'dark-theme': isDarkTheme$ | async }"
>
  <app-toolbar></app-toolbar>

  <mat-sidenav-container>
    <!--<mat-sidenav #sidenav mode="side">
    <mat-selection-list [multiple]="false">
      <mat-list-option routerLink="/" routerLinkActive="active">
        Hem
      </mat-list-option>
      <mat-list-option routerLink="/about" routerLinkActive="active">
        Om oss
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>-->

    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
</div>
