<div
  class="app-main mat-app-background"
  [ngClass]="{ 'dark-theme': isDarkTheme$ | async }"
>
  <app-toolbar></app-toolbar>

  <div class="app-container" fxLayout="column">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <mat-toolbar layout="fill">
      <div
        fxLayout="row"
        fxLayoutGap="1px"
        fxLayoutAlign="center center"
        fxFlex
      >
        <a href="https://www.instagram.com/dalpha.ab" target="_blank" mat-icon-button color="secondary" aria-label="Instagram" title="Dalpha på Instagram">
          <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
        </a>
        <a href="https://www.facebook.com/dalpha.ab" target="_blank" mat-icon-button color="secondary" aria-label="Facebook" title="Dalpha på Facebook">
          <fa-icon [icon]="['fab', 'facebook']" class="footer-icon"></fa-icon>
        </a>
      </div>
    </mat-toolbar>
  </footer>

  <!--<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
    <mat-selection-list [multiple]="false">
      <mat-list-option routerLink="/" routerLinkActive="active">
        Hem
      </mat-list-option>
      <mat-list-option routerLink="/about" routerLinkActive="active">
        Om oss
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>

    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>-->
</div>
