<mat-toolbar>
  <button mat-icon-button aria-label="Home" (click)="sidenav?.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-spacer"></span>
  <span>
    {{ title }}
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-selection-list [multiple]="false">
      <mat-list-option routerLink="/" routerLinkActive="active">
        Hem
      </mat-list-option>
      <mat-list-option routerLink="/about" routerLinkActive="active">
        Om oss
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
