<h1>Produkter & tjänster</h1>

<mat-accordion>
  <mat-expansion-panel *ngFor="let num of [1, 2, 3, 4, 5, 6, 7]">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Lorem ipsum dolor sit amet
      </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
    <button mat-flat-button color="primary">Läs mer</button>
  </mat-expansion-panel>
</mat-accordion>
