//@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import './theme.scss';
@import './assets/fonts/fonts-avantgarde.css';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'AvantGarde Bk BT',
  $body-1: mat-typography-level(16px, 24px, 500),
);

@include mat-core($custom-typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'AvantGarde Bk BT', Roboto, 'Helvetica Neue', sans-serif;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  min-height: 100%;
}

mat-sidenav-content {
  padding: 20px 25px;
}

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;

  @media (min-width: 600px) {
    top: 64px;
  }
}

.app-main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-container {
  min-height: calc(100% - 56px);
  @media (min-width: 600px) {
    min-height: calc(100% - 64px);
  }
  padding: 20px 25px;
}

app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

mat-sidenav {
  width: 280px;
}

.logo {
  max-width: 100%;
}

app-home {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer-icon {
  font-size: 20px;
}
