@import '~@angular/material/theming';
@include mat-core();
$light-theme: mat-light-theme(
  (
    color: (
      primary: mat-palette($mat-red, 500),
      secondary: mat-palette($mat-gray, 500),
      accent: mat-palette($mat-blue, 500),
      warn: mat-palette($mat-purple, 500),
    ),
  )
);
@include angular-material-theme($light-theme);

.dark-theme {
  $dark-theme: mat-dark-theme(
    (
      color: (
        primary: mat-palette($mat-red, 500),
        secondary: mat-palette($mat-gray, 500),
        accent: mat-palette($mat-blue, 500),
        warn: mat-palette($mat-purple, 500),
      ),
    )
  );
  @include angular-material-color($dark-theme);
}
